.pic {
    width:-275px;
    height:500px;
}
#table {
    padding-left:100px;
}
#center {
    text-align:center;
    background-color:silver;
    border: 12px ridge black:
}
#popo {
    background-color:black;
    color:white;
}
#jacob {
    color:blue;
}
#blue_lobsta_jump {
    width:700px;
    height:500px;
}
ul {
    list-style-type:none;
}
